<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <title>SwiftShadow Layout</title>
</head>

<body>
  <div style="display:none" class="rewards">
    <!-- Canvas for drawing my overlay -->
    <canvas id="overlayCanvas" width="1920" height="1080">
        </canvas>
    <!-- Canvas for drawing on gameplay -->
    <canvas id="gameCanvas" width="1460" height="816">
      </canvas>
    <img id="camEmote">
    <!-- Canvas for drawing on webcam. Not used yet -->
    <canvas id="camCanvas" width="390" height="289">
      </canvas>
  </div>
  <div class="container">
    <div class="row">
      <div style="display:none" class="auth text-center">
        <a id="auth-link">Connect with Twitch</a>
      </div>
    </div>
  </div>
  <img id="greyDie" src = "/media/overlays/GreyD20.png" width="172" height="198" style="display:none">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script type="module" src="main.js"></script>
</body>
</html>
