/* CSS files add styling rules to your content */

#overlayCanvas {
  background-image: url('/media/overlays/GreyOverlay.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#gameCanvas {
  position: absolute;
  left: 359px;
  top: 42px;
}

#camCanvas {
  position: absolute;
  left: 56px;
  top: 42px;
}

#camEmote {
  position: absolute;
  visibility : hidden;
}

#camBlack {
  position: absolute;
  left: 56px;
  top: 42px;
  width: 277px;
  height: 202px;
  visibility: hidden;
}