/* CSS files add styling rules to your content */

#overlayCanvas {
  background-image: url('/media/overlays/GreyOverlay.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#gameCanvas {
  position: absolute;
  left: 391px;
  top: 14px;
}

#camCanvas {
  position: absolute;
  left: 21px;
  top: 14px;
}

#camEmote {
  position: absolute;
  visibility : hidden;
}

#camBlack {
  position: absolute;
  left: 21px;
  top: 14px;
  width: 349px;
  height: 256px;
  visibility: hidden;
}