/* CSS files add styling rules to your content */

#overlayCanvas {
  /*background-image: url('/media/overlays/GreyOverlay.png');*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#gameCanvas {
  position: absolute;
  left: 443px;
  top: 17px;
}

#camCanvas {
  position: absolute;
  left: 18px;
  top: 17px;
}

#camEmote {
  position: absolute;
  visibility : hidden;
  left: 18px;
  top: 17px;
}
